html,
body,
#app {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.text-light {
  font-weight: 300;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
.text-bolder {
  font-weight: 800;
}
.text-black {
  font-weight: 900;
}
